* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

#input1 {
  width: 162px;
  height: 65px;
  border-radius: 5px;
  background-color: red;
  color: white;
  border: 1px solid #121212;
}

.small-box input[type="button"] {
  width: 76px;
  height: 60px;
  margin: 5px;
  border-radius: 5px;
  background-color: rgb(7, 5, 5);
  color: rgb(255, 254, 254);
  font-size: x-large;
}

.small-box input[type="button"]:hover {
  background-color:rgb(101, 98, 98) ;
}

#input2 {
  width: 162px;
  height: 65px;
  border-radius: 5px;
  background-color: black;
  color: rgb(255, 255, 255);
}

#input1:hover {
  background-color: rgb(241, 46, 46);
}

#input2:hover {
  background-color: rgb(101, 98, 98);
}
#main{
  padding-top: 10px;
}
#allover{
  margin: auto;
  padding-top: 60px;
}